body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section{
    height: 500px;
    padding-bottom: 50px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

p{
    color: dimgray;
}

footer{
    text-align: center;
    font-size: 15px;
}

.upper{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-area{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.golden-highlight{
    color: gold;
} 

.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 5%;
}

.half-width img{
    width: 70%;
    padding-top: 5%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #f78567, #fb6756);
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    box-shadow: 1px 1px 5px gray;
}

.link-button:hover{
    box-shadow: 1px 1px 10px gray;
}

.box{
    height: 80%;
    box-shadow: 5px 5px 20px gray;
    border-radius: 5px;
    background-color: #fff;
}

.box:hover{
    box-shadow: 10px 10px 40px gray;
}

.experience-justify{
    text-align: justify;
    padding-right: 20px;
    padding-bottom: 5%;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(#373B44, #4286f4);
    border-image-slice: 1;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#240b36, #c31432);
    border-image-slice: 1;
}

#exp{
    width: 100px;
    margin-left: 50px;
}

@media all and (max-width: 375px){
    body{
        margin: 0%;
    }
    section{
        height: 700px;
        position: static;
        margin-bottom: 10%;
        margin-top: -8%;
        padding-bottom: 0%;
    }
    .half-width{
        float: none;
        margin-bottom: 40px;
        width: 90%;
    }
    .upper{
        height: auto;
    }
    .dream-area{
    }
    .experience-area{
        height: auto;
    }
    footer{
    }
    #profile-1{
        margin-left: 25%;
    }
    #profile-2{
        margin-left: -8%;
    }
    .inverse-1{
        position: relative;
        top: 60%;
    }
    .inverse-2{
        position: relative;
        top: -36%;
    }
    .half-width img{
        width: 75%;
        padding-top: 5%;
    }
    .box{
        height: 80%;
    }
    #exp{
        margin-left: 5%;
    }
}

@media all and (min-width: 375px) and (max-width: 425px){
    body{
        margin: 0%;
    }
    section{
        height: 700px;
        position: static;
        margin-bottom: 10%;
        margin-top: -8%;
        padding-bottom: 0%;
    }
    .half-width{
        float: none;
        margin-bottom: 40px;
        width: 90%;
    }
    .upper{
        height: auto;
    }
    .dream-area{
    }
    .experience-area{
        height: auto;
    }
    footer{
    }
    #profile-1{
        margin-left: 25%;
    }
    #profile-2{
        margin-left: -8%;
    }
    .inverse-1{
        position: relative;
        top: 47%;
    }
    .inverse-2{
        position: relative;
        top: -47%;
    }
    .half-width img{
        width: 75%;
        padding-top: 5%;
    }
    .box{
        height: 80%;
    }
    #exp{
        margin-left: 5%;
    }
}
