body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.upper{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-area{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

p{
    color: dimgray;
}

.golden-highlight{
    color: gold;
} 

.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 5%;
}

.half-width img{
    width: 70%;
    padding-top: 5%;
}

section{
    height: 500px;
    padding-bottom: 50px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #f78567, #fb6756);
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    box-shadow: 1px 1px 5px gray;
}

.link-button:hover{
    box-shadow: 1px 1px 10px gray;
}

.box{
    height: 300px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 5px;
    background-color: #fff;
}

.box:hover{
    box-shadow: 10px 10px 40px gray;
}

.experience-justify{
    text-align: justify;
    padding-right: 20px;
}

.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(#373B44, #4286f4);
    border-image-slice: 1;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#240b36, #c31432);
    border-image-slice: 1;
}

#exp{
    width: 100px;
    margin-left: 50px;
}

footer{
    text-align: center;
    font-size: 15px;
}

@media all and (max-width: 768px){
    .half-width{
        width: 80%;
        height: auto;
        margin-left: 8%;
        margin-bottom: 5%;
        padding-left: 10%;
    }
}